<!DOCTYPE html>
<html>
<body>


<div class="first">
<div style="float:left;margin:5px;">
<form >
  Date range 1:
  <input type="date" name="bday">
  
</form>
</div>

<div style="float:left;margin:5px;">
<form >
  -
  <input type="date" name="bday">
  <input type="submit">
</form>
</div>
</div>

<div class="second">
<div style="float:left;margin:5px;" >
<form>
  Date range 2:
  <input type="date" name="bday">
  
</form>
</div>

<div style="float:left;margin:5px;">
<form>
  -
  <input type="date" name="bday">
  <input type="submit">
</form>
</div>
</div>

</body>
<style>
.first{
     width:70%;

     position:absolute;
    
 }
.second{
 
    width:40%;
 
  position: relative;
    top: 50px;
}
</style>
</html>

